#%PAM-1.0

auth       sufficient   libprintingstation.so TEST https://10.78.129.11/counters/usage.php /html/body/div[2]/div[1]/table/tbody/tr[5]/td[2]/text() /html/body/div[2]/div[1]/table/tbody/tr[2]/td[2]/text() tcp://10.14.21.2 activeprintuser /home/print
account    sufficient   libprintingstation.so TEST https://10.78.129.11/counters/usage.php /html/body/div[2]/div[1]/table/tbody/tr[5]/td[2]/text() /html/body/div[2]/div[1]/table/tbody/tr[2]/td[2]/text() tcp://10.14.21.2 activeprintuser /home/print
session    sufficient   libprintingstation.so TEST https://10.78.129.11/counters/usage.php /html/body/div[2]/div[1]/table/tbody/tr[5]/td[2]/text() /html/body/div[2]/div[1]/table/tbody/tr[2]/td[2]/text() tcp://10.14.21.2 activeprintuser /home/print
password   sufficient   libprintingstation.so TEST https://10.78.129.11/counters/usage.php /html/body/div[2]/div[1]/table/tbody/tr[5]/td[2]/text() /html/body/div[2]/div[1]/table/tbody/tr[2]/td[2]/text() tcp://10.14.21.2 activeprintuser /home/print
